.payment{
    width: 100%;
    background-color: rgb(244,244,244);
    /* border: 10px solid black; */
}
.head{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 18vh;
    background-color: black;
}
.head>img{
 margin-left: 50px;
 width: 100px;
 height: 100px;
}
.user{
    display: flex;
    width: 200px;
    height: 70px;
    /* border: 1px solid white; */
    margin-top: 15px;
    margin-right: 100px;
}
.midhead{
    width: 100%;
    height: 100px;
    /* border: 1px solid black; */
    margin: auto;
}
.midhead>h2{
    color:#333333;
    font-weight:700;
    font-style:normal;
    font-variant:normal;
    text-transform:none;
    text-decoration:none solid rgb(51, 51, 51);
    text-align:start;
    text-indent:0px;
    line-height:26px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px 0px 6px;
    padding:0px;
    font-size:24px;
    background-color:RGBA(0, 0, 0, 0);font-family: NotoSansBold sans-serif
}
.payfirst{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color:rgb(240,219,234);
}
.payfirst>div>h1{
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    margin: 10px;
}
.payfirst>div>h2{
    font-size: 20px;
    
}
.paysec{
    width: 100%;
    height: 80px;
    margin-top: 3px;
    background-color:rgb(240,219,234);
}
.paysec>div{
    display: flex;
    justify-content: center;
}

.paysec>div>h1{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
.paysec>div>p{
    margin-top: 20px;
    font-size: 20px;
    color: grey;
    margin-left: 10px;
}
.midpart{
    width: 100%;
    height: 70%;
    background-color: rgb(255,255,255);
    margin-top: 25px;
}
.insideMidPart{
    width: 95%;
    height: 95%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin: auto;
    display: flex;
}
.insideMidPart>div{
    width: 30%;
    height: 100%;
    background-color: rgb(244,244,244);
}
.insideMidPart>div~div{
    width: 70%;
    height: 100%;
    background-color: rgb(255,255,255);
}
.firstpart>button{
   font-size: 20px;
   font-weight: 500;
   display: grid;
   margin-top: 1px;
   width: 100%;
   height: 40px;
   color: rgb(99, 99, 99);
}
.firstpart>button:nth-child(1){
    background-color: rgb(255,255,255);
    color: rgb(67, 196, 147);
    border-radius: 5px;
}
.firstpart>button:hover{
    background-color: rgb(255,255,255);
    color: rgb(67, 196, 147);
    border-radius: 5px;
}
.secpart>p{
    font-size: 22px;
    font-weight: 500;
    text-align: start;
    margin-left: 20px;
}
.secpart>h2{
    font-size: 15px;
    font-weight: 400;
    text-align: start;
    margin-left: 40px;
}
.secpart>input{
    width: 60%;
    height: 50px;
}
.user>h1{
    color: wheat;
}
.middle{
    width: 65%;
    height: 160vh;
    margin: auto;
}
.diflex{
    display: flex;
    justify-content: space-between;
    color: grey;
    margin-top: 10px;
}
.foot2{
    width: 100%;
    height: 18vh;
    background-color: black;
}
