/* body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2jR33s80-CFM2T5jYtsV1AzniXxAfLFkYqg&usqp=CAU");
  background-size: cover;
  background-attachment: fixed;
  
} */

.item{
    cursor: pointer;
    display: grid;
    border-radius: 5px;
    width: 140px;
    height: 110px;
    border: 1px solid white;
}
/* .item:hover{
    border: 3px solid white;
} */
